.todos {
  animation: todos 2s;
  &__list {
    display: flex;
    flex-direction: column;
    min-height: 144px;
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.loading {
  width: 70px;
  margin: 0 auto;
  display: block;
}

@keyframes todos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
